# Go build artifacts
/bin/
/vendor/

# Compiled binaries
*.exe
*.out
*.o
*.a

# Logs and databases
*.log
*.db

# Temporary files
*.tmp
*.temp

# IDEs and editors
/.idea/
*.suo
*.ntvs*
*.njsproj
*.log
*.sln
*.swp
*.swm
*.swo
*.swn
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Docker artifacts
.env
Dockerfile.* # If you have multiple Dockerfiles
docker-compose.*.yml # If you have multiple docker-compose files

# GitHub action output (if any)
/output/

# KubeSketcher output
find-namespaces
